<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.augmanium">

    <application
        android:name=".myApplication.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AugManium">
        <activity
            android:name=".afterAuth.notification.NotificationScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".afterAuth.orderHistory.OrderHistory"
            android:exported="true">

        </activity>
        <activity
            android:name=".WriteReviewScreen"
            android:exported="false" />
        <activity
            android:name=".OrderCompleteScreen"
            android:exported="false" />
        <activity
            android:name=".CheckoutSummary"
            android:exported="false" />
        <activity
            android:name=".CheckOutPayment"
            android:exported="false" />
        <activity
            android:name=".afterAuth.checkOutFlow.CheckOutAddress"
            android:exported="true" />
        <activity
            android:name=".afterAuth.category.AllCategories"
            android:exported="true"></activity>
        <activity
            android:name=".afterAuth.category.SpecificCategoryProducts"
            android:exported="true" />
        <activity
            android:name=".afterAuth.category.categoryScreen"
            android:exported="false" />
        <activity
            android:name=".afterAuth.search.mainClass.SearchResult"
            android:exported="true" />
        <activity
            android:name=".afterAuth.filter.FilterScreen"
            android:exported="false" />
        <activity
            android:name=".beforeAuth.FinishScan"
            android:exported="false" />
        <activity
            android:name=".beforeAuth.ScanFace"
            android:exported="true" />
        <activity
            android:name=".CreateNewPassword"
            android:exported="false" />
        <activity
            android:name=".beforeAuth.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".beforeAuth.SignUp"
            android:exported="false" />
        <activity
            android:name=".beforeAuth.signin.signIn"
            android:exported="false" />
        <activity
            android:name=".beforeAuth.SplashScreen"
            android:exported="true"
            android:noHistory="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".afterAuth.mainActivity.MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>